
.hero {
    background-image: url("/images/hero-banner.png");
    height: 650px;
    // position: relative;
    // flex-wrap: wrap;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

    @include smMaxBreakPoint {
        background-image: url("/images/hero-banner.png");
                width: 100px;
                height: 100px;
    } 

    .hero-wrapper {
        .details {
            // position: absolute;
            top: 40%;
            padding: 40px;

            p {
                max-width: 50%;
            }
        }

        @include lgMaxBreakPoint {
                max-width: 20%;
                align-items: center;
                font-size: 15px;
        }
    }
}