.title-info {
    background-image: url("/landing/info.png");
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;

    
    
    
    p {
        color: rgb(244, 241, 236);
    }

}